<html>

<head>
    <title>Muse playbox by Tien</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="nav-containter">
        <nav id="nav">
            <div><a href="/">home</a></div>
            <div><a href="/about">About me</a></div>
            <div><a href="/music" class="active">Music</a></div>
            <div><a href="/drama">Drama/Writing</a></div>
        </nav>
    </div>

    <div id="music" class="px-80 pb-70 l-h-36">
        <h1 class="fs-52 bebas t-a-center pt-200 px-32" style="line-height: 60px; /* 115.385% */
letter-spacing: 2.08px;">
            The music collection of a young professional pianist and a passionate vocalist
        </h1>
        <ul class="pl-24 my-60 fs-24 c-primary3 f-st-i f-w-bigger ">
            <li>This is my proud video collection of performances at different Piano competitions and also some playful
                recording of my
                favourite pieces. Each video reflects my journey and passion for music.</li>
        </ul>
        <!-- ----------------------------------- -->
        <div class="row g-24 my-60">
            <div class="video-holder">
                <iframe width="860" height="484" src="https://www.youtube.com/embed/Yo9gZ4Q778A"
                    title="Le Hoang Tien - Thailand Mozart International Competition" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="l-h-36">
                <h1 class="fs-32 bebas">Thailand Mozart International Competition 2018</h1>
                <p class="fs-20">This is the first time I participate in an international competition. It's great to
                    showcase my
                    skills on big stage,
                    meet new friends, as well as exploring more about classical music.</p>
            </div>
        </div>
        <!-- ----------------------------------- -->
        <div class="row g-24 my-60">
            <div class="l-h-36">
                <h1 class="fs-32 bebas">Autumn Competition 2019</h1>
                <p class="fs-20">Being one of the youngest finalists of the most pretigious competition in Vietnam was a
                    surprise to me.</p>
            </div>
            <div class="video-holder">
                <iframe width="860" height="484" src="https://www.youtube.com/embed/2VqnoLiF5YY"
                    title="Lê Hoàng Tiên - Autumn Music Competition 2019" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <!-- ----------------------------------- -->
        <div class="row g-24 my-60">
            <div class="video-holder">
                <iframe width="860" height="484" src="https://www.youtube.com/embed/k1SIE8pKpfA"
                    title="Final Round SIPC 2019 - Haydn Group  - Le Hoang Tien" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="l-h-36">
                <h1 class="fs-32 bebas">Singapore International Piano Competition 2022</h1>
                <p class="fs-20">This competition took place in the COVID-19 pandemic. It was a hard year for me,
                    because everything had to be online.
                    Fortunately, my performance still impressed the judges and they gave my the first prize.</p>
            </div>
        </div>
        <!-- ----------------------------------- -->
        <div class="row g-24 my-60">
            <div class="l-h-36">
                <h1 class="fs-32 bebas">Grande Brilliante Valse Chopin</h1>
                <p class="fs-20">My favourite piece. I played it in my charitable concert, Euphoria 2024, as well as
                    some other competitions. A quick
                    playthrough of this waltz is the perfect way to unwind and escape the burdens of everyday life.</p>
            </div>
            <div class="video-holder">
                <iframe width="860" height="484" src="https://www.youtube.com/embed/a9E1ZsCrnr4"
                    title="Le Hoang Tien - Grande Valse Brillante in E-flat major by F.Chopin" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <!-- ----------------------------------- -->
        <div class="row g-24 my-60">
            <div class="video-holder">
                <iframe width="860" height="484" src="https://www.youtube.com/embed/LqotyzaunFw"
                    title="Le Hoang Tien - Prelude no 2 Nguyễn Đình Lượng" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="l-h-36">
                <h1 class="fs-32 bebas">Prelude 2 NGUYEN DINH LUONG</h1>
                <p class="fs-20">A classical piece from a Vietnamese author. It's the perfect blend between
                    traditional music - as can be seen from the
                    pentatonic scales - and classical music theory. It resonates with me personally, reflecting a
                    harmony of diverse
                    cultural influences.</p>
            </div>
        </div>
        <!-- ----------------------------------- -->
        <div class="my-60">
            <h1 class="fs-32 bebas ">Seedlink</h1>
            <p class="my-16 fs-20 mb-24">First performance in the concert hall - the very first step on my journey as a
                pianist</p>
            <div class="row g-48">
                <div class="">
                    <img src="images/about-6.png" alt="">
                </div>
                <div class="">
                    <img src="images/about-7.png" alt="">
                </div>
            </div>
        </div>
        <!-- ----------------------------------- -->
        <div class="my-60">
            <h1 class="fs-32 bebas ">VNAM Festival 2016</h1>
            <p class="my-16 fs-20 mb-24">First prize for the first time</p>
            <div class="row g-48">
                <div class="">
                    <img src="images/about-8.png" alt="">
                </div>
                <div class="">
                    <img src="images/about-9.png" alt="">
                </div>
            </div>
        </div>
        <!-- ----------------------------------- -->
        <div class="my-60">
            <h1 class="fs-32 bebas ">Asian Pacific Art Festival - Thailand Mozart International Competition 2018</h1>
            <p class="my-16 fs-20 mb-24">I really cherished the opportunity to participate in international piano
                competitions
                and festivals. Travelling, meeting
                new friends, and get some awards were all exciting to me.e</p>
            <div class="row g-24">
                <div class="">
                    <img src="images/about-10.png" alt="">
                </div>
                <div class="">
                    <img src="images/about-12.png" alt="">
                </div>
                <div class="">
                    <img src="images/about-13.png" alt="">
                </div>
            </div>
        </div>
        <!-- ----------------------------------- -->
        <div class="my-60">
            <h1 class="fs-32 bebas ">Euphoria Concert 2024</h1>
            <p class="my-16 fs-20 mb-24">However, what I appreciate the most throughout my adventure with the piano is
                the
                chance to spread love and kindness
                using the power of music. Organizing the charitable Euphoria Concert 2024 myself, I deepened my
                understanding of music's
                power to uplift and support the community. Through our campaign, we were able to donate all the proceeds
                to UNICEF,
                making a meaningful impact on children's lives. Additionally, we provided essential facilities for
                children at Hanoi SOS
                Village, reinforcing our commitment to giving back and using our talents for a greater purpose.</p>
            <div class="row g-24" style="flex-wrap: wrap;">
                <div class="">
                    <img src="images/about-14.png" alt="">
                </div>
                <div class="">
                    <img src="images/about-15.png" alt="">
                </div>
                <div class="">
                    <img src="images/about-16.png" alt="">
                </div>
                <div class="">
                    <img src="images/about-17.png" alt="">
                </div>
                <div class="">
                    <img src="images/about-18.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>