<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>MUSE PLAYBOX by Tien</title>
    <script src="/javascripts/index.js"></script>
</head>

<body>
    <nav id="navbar" class="">
        <div class="logo header">MUSE PLAYBOX</div>
        <ul>
            <li><a href="/#header">Home</a></li>
            <li><a href="/#about">About Me</a></li>
            <li><a href="/#music">Music</a></li>
            <li><a href="/#dw">Drama & Writing</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </nav>

    <div id="content">
        <!-- Content for each section goes here -->
        <!-- music  -->
        <div id="piano" style="margin-top: 90px;">
            <div>
                <h1 class="section-header">Piano</h1>
                <div class="gallery">
                    <div class="gallery-item">
                        <iframe src="https://www.youtube.com/embed/yn2_vozJT94"
                            title="Lê Hoàng Tiên - VNAM Festival Piano 2016" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="overlay">
                            <div class="overlay-text">Festival HVANQG<br><span class="overlay-year">2016</span></div>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <iframe src="https://www.youtube.com/embed/Yo9gZ4Q778A"
                            title="Le Hoang Tien - Thailand Mozart International Competition" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="overlay">
                            <div class="overlay-text">Thailand <br><span class="overlay-year">2019</span></div>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <iframe src="https://www.youtube.com/embed/2VqnoLiF5YY"
                            title="Lê Hoàng Tiên - Autumn Music Competition 2019" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="overlay">
                            <div class="overlay-text">Âm nhạc mùa thu<br><span class="overlay-year">2019</span></div>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <iframe src="https://www.youtube.com/embed/k1SIE8pKpfA"
                            title="Final Round SIPC 2019 - Haydn Group  - Le Hoang Tien" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="overlay">
                            <div class="overlay-text">SIPC<br><span class="overlay-year">2019</span></div>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <iframe src="https://www.youtube.com/embed/a9E1ZsCrnr4"
                            title="Le Hoang Tien - Grande Valse Brillante in E-flat major by F.Chopin" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="overlay">
                            <div class="overlay-text">Grande Brilliante Valse Chopin<br><span
                                    class="overlay-year"></span></div>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <iframe src="https://www.youtube.com/embed/a9E1ZsCrnr4"
                            title="Le Hoang Tien - Grande Valse Brillante in E-flat major by F.Chopin" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="overlay">
                            <div class="overlay-text">Prelude 2 Nguyễn Đình Lượng<br><span class="overlay-year"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        //25 images
        let images = [
            { imgsrc: "./images/tobeupdate.png", title: "Festival HVANQG", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "1", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "2", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "3", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "4", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "5", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "6", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "7", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "8", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "9", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "10", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "11", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "12", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "13", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "14", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "15", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "16", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "17", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "18", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "19", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "20", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "21", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "22", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "23", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "24", year: "2016" },
            { imgsrc: "./images/tobeupdate.png", title: "25", year: "2016" }
        ]
        //dom
        let gallery = document.querySelector(".gallery");

        images.forEach(image => {
            let gallery_item = document.createElement('div')
            gallery_item.classList.add("gallery-item");
            if (image.imgsrc.includes("youtube")) {
                gallery_item.innerHTML = `<iframe src="${image.imgsrc}" title="${image.title}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="overlay">
                            <div class="overlay-text">${image.title}<br><span class="overlay-year">${image.year}</span></div>
                        </div>`;
            } else {
                gallery_item.innerHTML = `<img data-src="${image.imgsrc}" alt="" class="lazy">
                        <div class="overlay">
                            <div class="overlay-text">${image.title}<br><span class="overlay-year">${image.year}</span></div>
                        </div>`;
            }
            gallery.appendChild(gallery_item)
        });
        //lazy load
        document.addEventListener("DOMContentLoaded", function () {
            const lazyImgs = document.querySelectorAll('img.lazy')

            const lazyLoad = (image) => {
                image.src = image.dataset.src;
                image.classList.remove('lazy')
            }

            if ("IntersectionObserver" in window) {
                const observer = new IntersectionObserver((entries, observer) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            const image = entry.target
                            lazyLoad(image)
                            observer.unobserve(image)
                        }
                    })
                })
                lazyImgs.forEach(img => {
                    observer.observe(img)
                })

            } else {
                lazyImgs.forEach(img => {
                    lazyLoad(img)
                })
            }
        })
    </script>
</body>

</html>