<html>

<head>
    <title>Muse playbox by Tien</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="nav-containter">
        <nav id="nav">
            <div><a href="/">home</a></div>
            <div><a href="/about">About me</a></div>
            <div><a href="/music">Music</a></div>
            <div><a href="/drama">Drama</a></div>
            <div><a href="/writing" class="active">Writing</a></div>
        </nav>
    </div>

    <div id="writing" class="px-80 c-primary2">
        <div class="row pt-200 ">
            <div class="bebas box-shadow-1 col-2 d-f align-end c-primary1 bg-4 fs-52 p-20-32"
                style="height: 154px; letter-spacing: 2.08px;">
                <div>IOWA CREATIVE WRITING COURSE</div>
            </div>
            <div class="row justify-start box-shadow-1 col-2 bg-1 fs-24 p-20-32" style="height: 154px;">

            </div>
        </div>
        <p class="my-40 fs-20 l-h-36 c-primary2">What I enjoyed the most in Summer 2024 was the opportunity to learn the craft of
            creative w.iting at the University of
            Iowa, renowned for its exceptional writing program. This course provided a unique environment where I could
            hone my
            skills, expand my creativity, and engage with fellow writers who shared the same passion for writing.</p>

        <div class="row my-40 pb-40 b-b-1">
            <img src="images/writing-1.png" alt="">
        </div>

        <div class="row ">
            <div class="bebas box-shadow-1 col-2 d-f align-end c-primary1 bg-4 fs-52 p-20-32"
                style="height: 154px; letter-spacing: 2.08px;">
                <div>BLOGGING</div>
            </div>
            <div class="row justify-start box-shadow-1 col-2 bg-1 fs-24 p-20-32 c-primary2" style="height: 154px;">
                <li>vietstagememoir.com</li>
            </div>
        </div>

        <p class="my-40 fs-20 l-h-36 c-primary2">This is where everything unite. My love for stage performance, my creativity in
            writing, everything culminates into
            Vietstage Memoir - a blog of traditional theatre.</p>

        <div class="my-40"><img src="images/writing-2.png" alt=""></div>

        <div class="row pt-32">
            <div class="bebas box-shadow-1 col-2 d-f align-end c-primary1 bg-4 fs-52 p-20-32"
                style="height: 154px; letter-spacing: 2.08px;">
                <div>Interview</div>
            </div>
            <div class="row justify-start box-shadow-1 col-2 bg-1 fs-24 p-20-32 c-primary2" style="height: 154px;">
                <li>Mr. Phan Thanh Liem</li>
            </div>
        </div>

        <p class="my-40 fs-20 l-h-36 c-primary2">In an attempt to preserve water puppetry, I decided to meet an expert in this art
            form, Mr. Phan Thanh Liêm. His family
            has a long tradition of performing water puppetry, as well as crafting the puppets and necessary equipments
            for the
            show. It's such an amazing chance discussing with him the quintessences of water puppetry, as well as how we
            can
            continue the life of this art form.</p>

        <div class="row g-40 pb-40">
            <div><img src="images/writing-3.png" alt=""></div>
            <div><img src="images/writing-4.png" alt=""></div>
            <div><img src="images/writing-5.png" alt=""></div>
        </div>

        <div class="row pt-32">
            <div class="bebas box-shadow-1 col-2 d-f align-end c-primary1 bg-4 fs-52 p-20-32"
                style="height: 154px; letter-spacing: 2.08px;">
                <div>Interview</div>
            </div>
            <div class="row justify-start box-shadow-1 col-2 bg-1 fs-24 p-20-32 c-primary2" style="height: 154px;">
                <li>Mr. Tu Long</li>
            </div>
        </div>

        <p class="my-40 fs-20 l-h-36 c-primary2">As a comedian and a Cheo artist, Mr. Tự Long is a household name in Vietnam.
            Meeting him has allowed me to understand
            the impact of traditional theatre on Vietnamese culture, and what we have to do to preserve it.</p>

        <div class="row g40 pb-40">
            <div><img src="images/writing-6.png" alt=""></div>
        </div>
        <div class="pb-70"></div>
    </div>
</body>

</html>