* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-1: #fbf2ec;
  --primary-2: #99192e;
  --primary-3: #dd5c3a;
  --primary-4: #e57a6d;
  --primary-5: #ba8835;
  --Transparen-white-30: #ffffff4d;
  --Transparen-white-60: #ffffff99;
}

html {
  font-size: 16px;
  color: var(--text-main-color);
  font-weight: 400;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-image: url("../images/header-bg-1.jpg"); */
  background-color: var(--primary-1);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 2s ease;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

a {
  color: var(--text-main-color);
  text-decoration: none;
}
h1,
h2,
h3 {
  font-weight: normal;
}

.bg-1 {
  background-color: var(--primary-1);
}
.c-primary1 {
  color: var(--primary-1);
}
.c-primary2 {
  color: var(--primary-2);
}
.c-primary3 {
  color: var(--primary-3);
}
.c-primary4 {
  color: var(--primary-4);
}
.c-primary5 {
  color: var(--primary-5);
}
.g-8 {
  gap: 8px;
}
.g-16 {
  gap: 16px;
}
.g-24 {
  gap: 24px;
}
.g-48 {
  gap: 48px;
}
.g-60 {
  gap: 60px;
}
.p-80 {
  padding: 80px;
}
.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}
.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}
.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}
.pr-24 {
  padding-right: 24px;
}
.pr-32 {
  padding-right: 32px;
}
.pl-24 {
  padding-left: 24px;
}
.pl-32 {
  padding-left: 32px;
}
.py-32 {
  padding: 32px 0;
}
.pt-32 {
  padding-top: 32px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-200 {
  padding-top: 200px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-70 {
  padding-bottom: 70px;
}
.p-16 {
  padding: 16px;
}
.p-8-16 {
  padding: 8px 16px;
}
.p-20-32 {
  padding: 20px 32px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.mb-24 {
  margin-bottom: 24px;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
}
.motserrat {
  font-family: "Montserrat";
}
.t-t-cap {
  text-transform: capitalize;
}
.t-t-up {
  text-transform: uppercase;
}
.t-a-center {
  text-align: center;
}
.fs-6w {
  font-size: calc(min(6vw, 84px));
}
.fs-3vw {
  font-size: calc(min(3vw, 64px));
}
.fs-2vw {
  font-size: calc(min(2vw, 48px));
}
.fs-1d5vw {
  font-size: calc(min(1.5vw, 36px));
}
.fs-1d3vw {
  font-size: calc(min(1.3vw, 28px));
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}
.fs-44 {
  font-size: 44px;
}
.fs-48 {
  font-size: 48px;
}
.fs-52 {
  font-size: 52px;
}
.fs-62 {
  font-size: 62px;
}
.fs-88 {
  font-size: 88px;
}
.f-st-i {
  font-style: italic;
}
.f-w-bigger {
  font-weight: 600;
}
.f-w-normal {
  font-weight: normal;
}
.f-w-smaller {
  font-weight: lighter;
}
.l-h-36 {
  line-height: 36px;
}
.d-i-b {
  display: inline-block;
}
.d-n {
  display: none !important;
}
.d-f {
  display: flex;
}
.visible {
  display: block;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.blend-lighten {
  mix-blend-mode: lighten;
}
.blend-darken {
  mix-blend-mode: darken;
}
.blend-multiply {
  mix-blend-mode: multiply;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.col-2 {
  flex: 0 0 50%;
}
#nav-containter {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transition: top 0.3s ease;
}

#nav {
  width: 800px;
  margin: auto;
  display: inline-flex;
  padding: 14px 40px 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 20px;
  border-bottom: 2px solid var(--primary-4);
  background-color: var(--Transparen-white-30);
  box-shadow: 0px 12px 28px 0px rgba(153, 25, 46, 0.25);
  backdrop-filter: blur(20px);
  color: var(--primary-5);
  font-size: 1.25rem;
  text-transform: capitalize;
  z-index: 1000;
}

#nav a {
  height: 58px;
  min-width: 111px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: center;

  font-weight: 500;
  transition: color 0.3s ease;
  border-radius: 10px;
  cursor: pointer;
}

#nav a:hover {
  border-radius: 10px;
  background: var(--Transparen-white-30);
  box-shadow: 0px 4px 12px 0px rgba(153, 25, 46, 0.25);
}
#nav a.active,
#nav a:hover.active {
  color: var(--primary-1);
  background: linear-gradient(45deg, #881729 0%, #f78d8d 100%);
  box-shadow: 0px 8px 16px 0px var(--purple-5);
}
#header {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--primary-3);
}

#header a {
  display: inline-block;
  color: var(--primary-2);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 16px;
  border: 2px solid var(--primary-4);
}

#header a:hover {
  color: var(--primary-1);
  border-radius: 10px;
  background: var(--primary-2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_prev,
.btn_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 50%;
  border: none;
  z-index: 2;
}

.btn_prev:hover,
.btn_next:hover {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(233, 70, 27, 0.6) 0%,
    rgba(253, 201, 194, 0.05) 100%
  );
}

.btn_prev {
  left: 10px;
}

.btn_next {
  right: 10px;
}

.dots-container {
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dot {
  display: inline-block;
  transition: background-image 0.6s ease;
  width: 48px;
  height: 8px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}
.dot.active {
  width: 88px;
  transition: width 0.6s ease;
  background-color: var(--primary-4);
}
.slide-item {
  opacity: 0;
  /* display: none; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
  z-index: 1;
  background-color: var(--primary-1);
}
.slide-item.active {
  display: flex;
  opacity: 1;
  z-index: 2;
  transition: all 1s ease-in-out;
  /* transform: translateX(-100%); */
}

#slide1 {
  width: 100%;
  height: 100%;
}

#slide1-content {
  width: 823px;
  height: 542px;
}

#slide2-img {
  width: 456px;
  height: 683px;
}

#slide3-img {
  width: 438px;
  height: 658px;
  /* background: url("../images/home-slide-3.png") lightgray 50% / cover no-repeat; */
}

#about,
#music,
#writing {
  max-width: 1440px;
  color: var(--primary-3);
  margin: auto;
}
.more-about {
  padding: 8px 16px;
  border-radius: 10px;
  border: 2px solid var(--primary-4, #e57a6d);
}

.video-holder {
  border-radius: 32px;
}

.gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* -webkit-overflow-scrolling: initial; */
  gap: 44px;
}
.gallery img {
  scroll-snap-align: start;
}
